body{
  font-family: 'Roboto', Helvetica,Arial;
  margin: auto;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #43484c;
  color: #FFFFFF;
}

.body-container {
  display: grid;
  grid: 1px 200px 1fr / 1fr;
}

.top-container{
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #405275;
  padding: 1rem;
}

.top-user-panel{
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  gap: 1rem;
  padding-left: 5rem;
}

.POTG-preview{
  display: grid;
  grid: 1fr 25px 25px / 1fr;
  padding: 2rem;
}

.POTG-preview img{
  height: 100%;
  width: 100%;
}

.home-content{
  display: grid;
  grid: 1fr / repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.POTG-view{
  display: grid;
  grid: 2rem 2fr 0.5rem 1fr / 1fr;
  justify-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.search-container{
 display: grid;
 grid: 1fr / 2.5fr 1fr;
 gap: 0.5rem;
}

.login-form{
  display: grid;
  grid: 1fr 1.5fr 1fr / 1fr;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
}
