html {
  background: url('https://firebasestorage.googleapis.com/v0/b/clip-sharing-749b3.appspot.com/o/wp1809699-overwatch-wallpapers.jpg?alt=media&token=8d5ee33a-59cb-4608-a23b-7e197725c7e3') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Roboto', Helvetica,Arial;
  margin: auto;
  height: 100%;
  width: 100%;
}

.link {
  color: black;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #43484c;
  color: #FFFFFF;
  opacity: 0.90;
}

.body-container {
  display: grid;
  grid: 1px 200px 1fr / 1fr;
}

.top-container{
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.top-user-panel{
  display: grid;
  grid: 1fr / 2fr repeat(2, 1fr);
  gap: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  color: black;
  font-size: 1.25rem;
  background: white;
  border-radius: 10px;
  opacity: 0.90;
}


.home-content{
  display: grid;
  grid: 1fr / repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}

.recommended-tags{
  background: white;
  padding: 1rem;
}

/* POTG-Previews cards */
.POTG-preview {
    display: grid;
    grid: 1fr 0.15fr 0.15fr / 1fr;
    gap: 1rem;
    padding: 1.25rem;
    background: rgba(150, 190, 255, 0.69);
    border-radius: 30px;
    border: 15px solid white;
    border-top: 15px solid orange;
    font-size: 1rem;
    justify-items: center;
}

.POTG-preview img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2.5px solid white;
}

.POTG-title{
  justify-self: left;
  font-size: 1.4rem;
  font-weight: bold;
}

.POTG-info{
  justify-self: left;
  font-size: 1.1rem;
}



/* POTG-view */
.POTG-view{
  display: grid;
  grid: 0.1fr 2fr 0.1fr 0.25fr 1fr / 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.POTG-view-title{
  font-size: 3.5rem;
  color: black;
  padding-bottom: 1rem;
}

.POTG-view-video{
  width: 95vw;
  height: 65vh;
  padding: 1rem;
}

.POTG-view-interact-bar{
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  justify-items: left;
  align-items: center;
  gap: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 95vw;
  padding: 1rem;
}

.POTG-view-comments-interact-bar{
  display: grid;
  grid: 1fr 0.25fr / 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.POTG-view-comments-section{
 display: grid;
 grid: 0.5fr 4fr / 1fr;
 justify-items: center;
 padding-top: 2rem;
 width: 60%;
 gap: 2rem;
 background: rgba(255, 255, 255, 0.69);
 border-radius: 5px;
}

.POTG-view-comment{
  display: grid;
  grid: 1fr / 1fr 5fr 1fr;
  gap: 2rem;
  color: #218ffe;
  font-size: 1.25rem;
}


/* ------------------------------------------------------------------------------------------------------------------- */

.search-container{
 display: grid;
 grid: 1fr / 2.5fr 1fr;
 gap: 0.5rem;
}

.login-form{
  display: grid;
  grid: 1fr 1.5fr 1fr / 1fr;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.69);
}
